<% if logged_in? %>
  <script itype="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>
<script itype="text/javascript">
    window.fb_icon = "<%= image_url('fakebook-icon.png')%>"
    window.feed_search = "<%= image_url('feed-search.png')%>"
    window.friends_icon = "<%= image_url('friends-icon.png')%>"
    window.messenger_icon = "<%= image_url('messenger-icon.png')%>"
    window.notif_icon = "<%= image_url('notif-icon.png')%>"
    window.help_icon = "<%= image_url('help-icon.png')%>"
    window.dropdown_icon = "<%= image_url('dropdown-icon.png')%>"
    window.fb_icon2 = "<%= image_url('fb-logo-2.png')%>"
    window.fb_ppic = "<%= image_url('fb_ppic.jpg')%>"
    window.find_more = "<%= image_url('find_more.png')%>"
    window.see_photos = "<%= image_url('see_photos.png')%>"
    window.share = "<%= image_url('share.png')%>"
</script>

<main id="root"></main>
